body {
	padding-top: 50px;
}

td .label, dd .label {
	font-size: 90%;
}

h2[id], h3[id] {
	padding-top: 35px;
}

@media screen and (min-width: 992px) {
	.side-bar {
		position: fixed;
		top: 80px;
		width: 200px;
	}
}

.side-bar {
	border-radius: 5px 5px 5px 5px;
}

.side-bar .active {
	background-color: #f8f8f8;
}

.side-bar .nav .nav {
	display: none;
}

.side-bar .nav > .active > ul {
	display: block;
}

.side-bar .nav > .active > ul > li > a {
	padding-left: 30px;
	font-size: smaller;
}

.footer {
	border-top: 1px solid #E5E5E5;
	color: #777777;
	padding-top: 19px;
	margin-top: 19px;
}

.grade {
	font-size: 1000%;
	line-height: 100px;
}

.recent-results {
	width: 80%;
}

.chart {
	width: 500px;
	height: 300px;
}

.large-chart {
	width: 100%;
	height: 450px;
}

/* source: loading.io */
.lds-facebook {
	display: inline-block;
	position: relative;
	width: 2em;
	height: 1em;
}
.lds-facebook div {
	display: inline-block;
	position: absolute;
	left: -0.6em;
	width: .5em;
	background: #999;
	animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
	left: -0.6em;
	animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
	left: 0.15em;
	animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
	left: 0.9em;
	animation-delay: 0s;
}
@keyframes lds-facebook {
	0% {
		top: 0;
		height: 1em;
	}
	50%, 100% {
		top: 0.25em;
		height: 0.5em;
	}
}
